/*#025267; blue color taken from the orion shoulders nebula picture at http://www.nasa.gov/multimedia/imagegallery/image_feature_693.html*/
.main {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 10px ;
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  min-height: 300px;
  min-width: 700px;
}
.errorMessage {
  color: #ffffff;
  margin-left: 140px;
  background-color: #c0392b;
  padding: 8px 35px 8px 14px;
  width: auto;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.errorSummary {
  color: #ffffff;
  background-color: #c0392b;
  margin-left: 20px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 10px;
}
h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
